/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================== CSS Personalizado ================== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #111111;
  }
}
